<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                           <dict>
                                <key>kind</key>
                                <string>software-package</string>
                                <key>url</key>
                                <string>http://www.link2cotton.com/app/ios/kugou-1016-8317-201611091056.ipa</string>
                           </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                           <key>bundle-identifier</key>
                           <string>com.kugou.kugou2016</string>
                           <key>bundle-version</key>
                           <string>8333</string>
                           <key>kind</key>
                           <string>software</string>
                           <key>title</key>
                           <string>kugou</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>